/*UNIVERSAL SELECTOR*/
* {
    box-sizing: border-box;
}

/********************************************
General
********************************************/
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.main-header{
    height: 850px;
    padding-top: 170px;
}

.main-header, .title{
    text-align: center;
}

.title {
    /* To change font-size from px to em. Do this simple equation
    whatevry the desired pixel is / 16
    26px/16px +
    */
    font-size: 1.625em
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content, .secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 60%;
}

.t-border{
    border-top: 2px solid lightgrey;
}

ul li {
    margin-bottom: 5px;
}

.arrow{
    width: 50px;
}

img{
    margin-bottom: 20px;
    width: 100%;
}

.wildlife{
    /* two value first is for top and bottom. 2nd is for left and right. */
    /*border-color: #ffa949;
    border-style: solid;
    border-width: 10px 20px;*/
    border-top: 10px solid #ffa949;
    /*padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;*/
    padding: 18% 24%;
    /*When 3 values. First one is the top. Second one is left and right. Third onee is bottom.*/
    margin: 105px 0 60px;
}

.callout{
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 10px orange;
    padding-bottom: 60px;
    padding-top: 60px;
}

/********************************************
Headline elements & p elements
********************************************/

h1{
    /* 90px/16px */
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    text-transform: uppercase;
}

h2{
    font-size: 53px;
    font-weight: normal;
    /* 26px/53px */
    margin-bottom: .5em;
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    /* 34px/20px */
    margin-bottom: 1.7em;
}

p{
    
}

/********************************************
Colors
********************************************/

body{
    color: #878787;
}

.title {
    color: white;
}

.main-header {
    background-color: #ffa949;
}

.wildlife{
    background-color: #434a52;
    color: white;
}

ul li {
    background-color: tomato;
    color: white;
}

h1 {
    color: white;
}

h3 {
    color: #4852c;
}

/* CSS pseudo class */

a:link{
    color: #ffa949;
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: coral;
}

a:focus {
    background-color: orange;
    color: white;
}